<footer class="page-footer" role="group" aria-label="{{ctx.Locale.Tr " aria.footer"}}">
    <div class="left-links" role="contentinfo" aria-label="{{ctx.Locale.Tr " aria.footer.software"}}">
        Powered By
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" alt="Vue.js" height="15"
            title="Vuejs" />
        <a target="_blank" rel="noopener noreferrer" href="https://vuejs.org/">Vue.js</a>

        <img src="https://cdn.rawgit.com/go-chi/chi/master/_examples/chi.svg" alt="Chi" height="27" title="Chi" />
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-chi/chi">go-chi</a>

        <img src="https://about.gitea.com/gitea.svg" alt="Gitea" height="20" title="Gitea" />
        <a target="_blank" rel="noopener noreferrer" href="https://gitea.io">Gitea</a>
    </div>
    <div class="left-links" role="contentinfo" aria-label="{{ctx.Locale.Tr " aria.footer.software"}}">
        Deployed By
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg" alt="Azure" height="15"
            title="Azure" />
        <a target="_blank" rel="noopener noreferrer" href="https://azure.microsoft.com">Microsoft Azure </a>

        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cloudflare/cloudflare-original.svg"
            alt="Cloudflare" height="25" title="Cloudflare" />
        <a target="_blank" rel="noopener noreferrer" href="https://cloudflare.com/">Cloudflare</a>

        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nginx/nginx-original.svg" alt="Nginx" height="45"
            title="Nginx" />
        <a target="_blank" rel="noopener noreferrer" href="https://nginx.org/">Nginx</a>

        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker"
            height="25" title="Docker" />
        <a target="_blank" rel="noopener noreferrer" href="https://docker.com/">Docker</a>

        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-plain.svg" alt="Kubernetes"
            height="18" title="Kubernetes" />
        <a target="_blank" rel="noopener noreferrer" href="https://kubernetes.io/">Kubernetes</a>

        <img src="https://www.miwifi.com/favicon2.ico" alt="MiWiFi" height="15" title="MiWiFi" />
        <a target="_blank" rel="noopener noreferrer" href="https://www.miwifi.com/">MiWiFi</a>
    </div>
    <div class="left-links" role="contentinfo" aria-label="{{ctx.Locale.Tr " aria.footer.software"}}">
        Hosted By
        <img src="https://bot.liteyuki.icu/liteyuki.svg" alt="Liteyuki Studio" height="15" title="Liteyuki Studio" />
        <a target="_blank" rel="noopener noreferrer" href="https://liteyuki.icu">Liteyuki Studio</a>
    </div>
</footer>